@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Genral Styles */
body {
  font-family:  " darkline", sans-serif;
  line-height: 1.6;
}

header {
  background-color: #FDC659;
  color: black;
  padding: 1.3rem;
}

header h1 {
  display: inline;
  margin-right: 0rem;

}
nav {
  position: absolute;
  top: 32px;
  right: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.1;
}

nav ul li {
  display: inline; 
}

nav ul li a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  padding: 14px 16px;
  font-size: 17px;
}

nav ul li a:hover {
  color: white;
}
.banner img {
  width: 100%;
  height: auto;
}

.about {
  padding: 0.3rem;
  flex-direction: column;align-items: center;
}

html {
  scroll-behavior: smooth;
}
.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* End Genral Styles */
.contact
{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: #f9e0ae;
    background-size: cover;
    font-family: 'DM Sans';
}
.line-height {
    line-height: 1.6;
}
.contact .content 
{
    max-width: 100%;
    font-style: initial;
    text-align: left;
    font-family: 'DM Sans';
    margin-left: 20px;
    font-weight: 500px;
}
.contact .content h2
{
    font-size: 36px;
    text-align: left;
    font-weight: 500;
    color:black; 
    font-family: 'DM Sans';
}
.contact .content p
{
    font-weight: 300; 
    text-align: left;
    color:black; 
    font-family: 'DM Sans';
}
.container
{
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex; 
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: left;
    align-items: left;
    border-radius: 50%;
    font-size: 22px;
    font-family: DM Sans;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    font-weight: 300;
    flex-direction: column;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: black;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: white;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #f9e0ae; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #fcd569;
}
.container {
    border-radius: 5px;
    background-color: #f9e0ae;
    padding: 20px;
}

/* Footer */
footer {
  background-color: #FDC659;
  color: black;
  padding: 12px 0;
  text-align: center;
  margin-top: 1rem;
}
.focus {
  background: #FDC659;
}

.bottom-footer {
  margin-top: 1.7rem;
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright .text {
  color: #000000;
  font-size: 0.9rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--main-color);
  cursor: pointer;
}

.followme-wrap {
  display: flex;
}

.followme {
  display: flex;
  align-items: center;
}

.followme h3 {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.followme .footer-line {
  width: 60px;
  height: 2px;
  background-color: #7b7b7b;
  margin: 0 0.9rem;
  display: inline-block;
}

.social-media a {
  color: #000000;
  font-size: 1rem;
  margin-left: 0.4rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: var(--main-color);
}

.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: #FC8621;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.back-btn:hover {
  background-color: #7A7A7A;
}

.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #FDC659;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

/* End Footer */

@media all and (min-width: 800px) {
  .contactInfo {
    flex: 2;
  }
  .contactForm {
    order: 2;
  }
  .contactInfo {
    order: 1;
    }
  .bottom-footer .back-btn-wrap .followme-wrap {
    order: 4;
  }

  }

@media all and (min-width: 600px) {
  .contactForm {
    flex: 1;
  }
}
